@import '../../styles/variables';

.line {
    position: absolute;
    height: $line-height;
    width: $line-width;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    max-width: none;

    &.oblique {
        width: $line-oblique-width;
        transform: translateY(-50%) rotate(45deg);
    }
    &.vertical {
        transform: translateY(-50%) rotate(90deg);
    }
    & div {
        border-radius: $base-radius;
        width: 0;
        transition: width 2s linear;
    }

    &.line-primary div {
        background-color: $primary;
        width: 100%;
    }

    &.line-secondary div {
        background-color: $secondary;
        width: 100%;
    }
}

@keyframes slideWidth {
    0% {
        width: 0;
    }
    0% {
        width: 100%;
    }
}
