@import '../../styles/variables';

.line {
    position: absolute;
    height: $line-height;
    width: $line-width;
    left: (100% - $line-width)/2;
    top: 50%;
    z-index: 1;
    max-width: none;

    &.oblique {
        width: $line-oblique-width;
        left: (100% - $line-oblique-width)/2;
    }
    &.vertical {
    }
    & div {
        border-radius: $base-radius;
        width: 0;
        transition: width 1s linear;
    }

    &.line-primary div {
        background-color: $primary;
        width: 100%;
    }

    &.line-secondary div {
        background-color: $secondary;
        width: 100%;
    }
}

@keyframes slideWidth {
    0% {
        width: 0;
    }
    0% {
        width: 100%;
    }
}
