/* 
Color
*/

$primary: #00abb3;
$secondary: #eb6440;
$dark: #3c4048;
$light: #d6e4e5;

$base-radius: 7px;

$btn-radius: $base-radius;
$btn-shadow-length: 5px;
$btn-click-move: 2px;

$tile-margin: 10px;
$tile-radius: $btn-radius * 2;

$xo-size: 50px;
$xo-stroke-width: 12px;

$label-icon-scale: 0.4;
