@import './variables';
@import './features';
/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $dark;
    color: $light;
    font-family: 'Ubuntu', sans-serif;
}
