@import '/src/styles/variables';

.x,
.o {
    width: $xo-size;
    height: $xo-size;
    position: relative;
    display: inline-block;
}

.x {
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 25%;
        width: 100%;
        height: $xo-stroke-width;
        background-color: $primary;
        right: 0;
        border-radius: $xo-stroke-width;
    }
    &::before {
        transform: translateY(50%) rotate(45deg);
    }
    &::after {
        transform: translateY(50%) rotate(-45deg);
    }
}
.o {
    border: $xo-stroke-width/4 solid transparent;
    box-shadow: 0 0 0px $xo-stroke-width $secondary inset;
    border-radius: 50%;
}

.label {
    .x,
    .o {
        width: $xo-size * $label-icon-scale;
        height: $xo-size * $label-icon-scale;
    }
    .x {
        &::after,
        &::before {
            background-color: $dark;
            height: $xo-stroke-width * $label-icon-scale;
        }
    }
    .o {
        box-shadow: 0 0 0px $xo-stroke-width * $label-icon-scale $dark inset;
    }

    &.text-light {
        .x {
            &::after,
            &::before {
                background-color: $light;
            }
        }
        .o {
            box-shadow: 0 0 0px $xo-stroke-width * $label-icon-scale $light inset;
        }
    }
}
