@import '../../styles/variables';

$size: 50px;
$stroke-width: 10px;

.x,
.o {
    width: $size;
    height: $size;
    position: relative;
    display: inline-block;
}

.x {
    bottom: 5%;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        width: 100%;
        height: $stroke-width;
        background-color: $primary;
        right: 0;
        border-radius: $stroke-width;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
}
.o {
    border: $stroke-width/4 solid transparent;
    box-shadow: 0 0 0px $stroke-width $secondary inset;
    border-radius: 50%;
}
