@import '../../styles/variables';
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba($light, 0.3);
    backdrop-filter: blur(5px);
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: $transition-fadeIn;

    &.overlay-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        transition: $transition-fadeOut;
    }
}
@keyframes overlayFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes overlayFadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        width: 0;
        height: 0;
    }
}
