$font-path: '~/src/assets/fonts/iranyekan';

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('#{$font-path}/eot/iranyekanwebboldfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebboldfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebboldfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebboldfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-path}/eot/iranyekanwebthinfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebthinfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebthinfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebthinfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('#{$font-path}/eot/iranyekanweblightfanum.eot');
  src: url('#{$font-path}/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanweblightfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanweblightfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanweblightfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('#{$font-path}/eot/iranyekanwebregularfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebregularfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebregularfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebregularfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}/eot/iranyekanwebmediumfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebmediumfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebmediumfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebmediumfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('#{$font-path}/eot/iranyekanwebextraboldfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebextraboldfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebextraboldfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebextraboldfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url('#{$font-path}/eot/iranyekanwebblackfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebblackfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebblackfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebblackfanum.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('#{$font-path}/eot/iranyekanwebextrablackfanum.eot');
  src: url('#{$font-path}/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('#{$font-path}/woff2/iranyekanwebextrablackfanum.woff2') format('woff2'),
    url('#{$font-path}/woff/iranyekanwebextrablackfanum.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('#{$font-path}/ttf/iranyekanwebextrablackfanum.ttf')
      format('truetype');
}
